html {
    font-family: 'Open Sans', sans-serif;
}

input[type=submit] {
    padding:15px 20px;
    font-size: 15px;
    text-transform: uppercase;
    background:#ccc;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
