<h1>Create an account</h1>
<form action="/register" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="password_confirmation" placeholder="Password Confirmation">
  <input type="submit" value="Register">
</form>
